[Unit]
Description=Exporter for keepalive data
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/keepalived-exporter-1.2.0.linux-amd64/keepalived-exporter --web.listen-address=':{{keepalived_exporter_port}}' 

[Install]
WantedBy=multi-user.target
